/* Main Slider CSS - Imports all split files */
@import './slider/slider-base.css';
@import './slider/slider-progress.css';
@import './slider/slider-navigation.css';
@import './slider/slider-info-overlays.css';
@import './slider/slider-responsive.css';
